body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

.App {
  display: flex;
  align-items: center;
  height: 100vh;
  background-image: url('../assets/background.jpg');
  background-size: cover;
  background-position: center;
  flex-direction: column;
}
.otherPrices{
  padding: 5px;
  background-color: rgb(236, 166, 60);
  border-radius: 7px;
  cursor: pointer;
}
.card {
  background: white;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  flex-direction: row;
  align-self: center;
  margin: 10px;
  word-wrap: break-word;
  
}
.artisticText{
  font-family:cursive;
  font-size:16;
}
.logo{
  width: 220px;
  height: 120px;
  object-fit: contain;
  margin: 10px;
}
.reklam{
  width: 80px;
  height: 30px;
  object-fit: contain;
margin: 5px;
}
.grayText{
  color: rgb(173, 170, 170);
  text-align: center;
  margin-top: 10px;
}
.alert {
  padding: 20px;
  color: white;
  text-align: center;
  border-radius: 5px;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
}

.alert.success {
  background-color: green;
}

.alert.error {
  background-color: red;
}



/* @media (min-width: 768px) {
  .social-icon {
    width: 30px;
    height: 30px;
  }
} */

/* Yazı tipi boyutları için medya sorguları */
p, h1 {
  margin: 0; /* Margin sıfırlamak, padding ile yazıları hizalamaya yardımcı olur */
}

/* Telefonlar için yazı boyutları */
@media (max-width: 599px) {
  .card{
    padding: 20px;
  }
  p {
    font-size: 12px;
  }
  img{
    width: 20px;
    height: 20px;
  }
  h1 {
    font-size: 18px;
  }
  .smallh1{
    font-size: 15px;
  }
  th {
    font-size: 12px;
  }
  td {
    font-size: 12px;
  }
.logo{
  width: 200px;
  height: 80px;
}
.reklam{
  width: 60px;
  height: 20px;
}
.artisticText{
  font-size: 16;
}
}

/* Tabletler için yazı boyutları */
@media (min-width: 600px) and (max-width: 899px) {
  .card{
    padding: 30px;
  }
  p {
    font-size: 15px;
  }
  img{
    width: 25px;
    height: 25px;
  }
  h1 {
    font-size: 20px;
  }
  .smallh1{
    font-size: 17px;
  }
  th {
    font-size: 15px;
  }
  td {
    font-size: 15px;
  }
  .logo{
    width: 220px;
    height: 100px;
  }
  .reklam{
    width: 80px;
    height: 30px;
  }
  .artisticText{
    font-size: 18;
  }
}

/* Masaüstü tarayıcılar için yazı boyutları */
@media (min-width: 900px) {
  .card{
    padding: 40px;
  }
  p {
    font-size: 16px;
  }
  img{
    width: 30px;
    height: 30px;
  }
  h1 {
    font-size: 22px;
  }
  .smallh1{
    font-size: 19px;
  }
  th {
    font-size: 16px;
  }
  td {
    font-size: 16px;
  }
  .logo{
    width: 260px;
    height: 100px;
  }
  .reklam{
    width: 100px;
    height: 35px;
  }
  .artisticText{
    font-size: 20;
  }
}

/* büyük ekranlar için yazı boyutları */
@media (min-width: 1200px) {
  .card{
    padding: 40px;
  }
  p {
    font-size: 20px;
  }
  img{
    width: 35px;
    height: 35px;
  }
  h1 {
    font-size: 28px;
  }
  .smallh1{
    font-size: 24px;
  }
  th {
    font-size: 20px;
  }
  td {
    font-size: 20px;
  }
  .logo{
    width: 300px;
    height: 120px;
   
  
  }
  .reklam{
    width: 120px;
    height: 40px;
  }
  .artisticText{
    font-size: 22;
  }
}

.rowTable {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap; /* Ekran küçük olduğunda satırları sarmaya yardımcı olur */
}

.oneRow {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-right: 30px; /* 30px sağ boşluk */
}

.scaleUp{
  transition: transform 0.3s;
}

.scaleUp:hover{
  transform: scale(1.2);
}

.invoice-table th, .invoice-table td {
  border: 1px solid #f4f2ec;
  text-align: center;
}
.invoice-table {
  margin: 0 auto; /* Center the table horizontally */
}
.box1{
  background-color: rgb(244, 244, 244);
}
.box2{
  background-color: rgb(224, 224, 224);

}





